<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>spam.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pass</servlet-name>
        <servlet-class>spam.Pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send</servlet-name>
        <servlet-class>spam.Send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>spam.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>spam.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>spam.account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spammer</servlet-name>
        <servlet-class>spam.spammer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inbox</servlet-name>
        <servlet-class>spam.inbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sends</servlet-name>
        <servlet-class>spam.sends</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pass</servlet-name>
        <url-pattern>/Pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send</servlet-name>
        <url-pattern>/Send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spammer</servlet-name>
        <url-pattern>/spammer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inbox</servlet-name>
        <url-pattern>/inbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sends</servlet-name>
        <url-pattern>/sends</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
